* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Display", System-ui;
    height: 100%;
    font: 400 3rem;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-width: 500px;
    width: 75%;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.logo {
    height: 75px;
}

.container {
    width: 100%;
    margin-bottom: 2rem;
}

.container img{
    padding: 15px;
}

.container .task-box{
    background-color: #242529;
    padding: 38px;
    border-radius: 24px;
    width: 100%;
}

.container .task-box .task-entry{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.container .task-box .task-entry .task-input {
    flex-grow: 1;
    margin-right: 1rem;
    border: 2px solid #4392F1;
    background-color: #FFFFFE;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.container .task-box .task-entry .task-submit{
    background-color: #4392F1;
    color: #FFFFFE;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
}